<site:header></site:header>

<div class="content_area">
  <div class="ui one column divided grid">
    <div class="row">
      <div class="column">

      	<h1>Credits.json</h1>
      	<p>A machine readable data format that describes the creators of a website.</p>

		<h3>Isn't this humans.txt?</h3>

		<p>Humans.txt is is not designed to be machine parsable, if it was it would defeat its original purpose. credits.json is designed to sit alongside a humants.txt and provide the same information in a format that machines can understand.</p>

		<h3>Why?</h3>
		<p>It makes it possible to write tools that can automatically analyse and track who worked on websites across the Internet.</p>

		<p><a href="https://github.com/Rodeoclash/credits.json">Read more and see examples</a></p>
		<p><a href="#/generator">Generate a credits.json file</a></p>
		<p><a href="#/submit_site">Submit a site using credits.json</a></p>

      </div>
    </div>
  </div>
</div>