@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

body, html, .full_height {
	height: 100%;
}

.build_output {
	position: fixed;
	overflow-y: auto;
}