<div class="directive generator_person_form">

	<form class="ui form">

		<div class="field">
			<label>Name</label>
			<div class="ui left labeled icon input">
				<input type="text" placeholder="Your name or alias." ng:model="model.name" required>
				<i class="user icon"></i>
			</div>
		</div>

		<div class="field">
			<label>Email</label>
			<div class="ui left labeled icon input">
				<input type="email" placeholder="Your email address. This is encrypted." ng:model="email" required>
				<i class="mail icon"></i>
			</div>
		</div>

	</form>

</div>