<div class="directive generator_person_form">

	<form class="ui form">

		<div class="field">
			<label>Name</label>
			<div class="ui left labeled icon input">
				<input type="text" placeholder="Your name or alias." ng:model="model.name" required>
				<i class="user icon"></i>
			</div>
		</div>

		<div class="field">
			<label>Email</label>
			<div class="ui left labeled icon input">
				<input type="email" placeholder="Your email address. This is encrypted." ng:model="email" required>
				<i class="mail icon"></i>
			</div>
		</div>

		<div class="field">
			<label>Location</label>
			<div class="ui left labeled icon input">
				<input type="text" placeholder="Your location. Be as precise or general as you want." ng:model="model.location" ng:autocomplete required>
				<i class="map icon"></i>
			</div>
		</div>

		<h4>Extras</h4>

		<div class="ui fluid accordion">
			<div class="title">
				<i class="dropdown icon"></i>
				Homepage URL
			</div>
			<div class="content">
				<div class="field">
					<label>Homepage URL</label>
					<div class="ui left labeled icon input">
						<input type="text" placeholder="Your location. Be as precise or general as you want." ng:model="model.location" ng:autocomplete required>
						<i class="map icon"></i>
					</div>
				</div>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				Stack Overflow Profile
			</div>
			<div class="content">
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				Twitter Handle
			</div>
			<div class="content">
			</div>
		</div>

	</form>

</div>