<div class="ui fixed transparent inverted main menu">
    <div class="container">
      <div class="section ui link item">
        <a href="#/">Credits.json</a>
      </div>
      <div class="section ui link item">
        <a href="#/generator">Generate a file</a>
      </div>
      <div class="section ui link item">
        <a href="#/submit_site">Submit your site</a>
      </div>
      <div class="right menu">
        <div class="vertically fitted borderless item">
          <iframe src="http://ghbtns.com/github-btn.html?user=Rodeoclash&amp;repo=credits.json&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        </div>
        <a class="popup icon github item" data-content="View project on Github" href="https://github.com/Rodeoclash/credits.json">
          <i class="icon github"></i>
        </a>
      </div>
    </div>
  </div>
</div>